@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

img,
svg,
video,
canvas {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}
